/Results 2026 IIP - GroupXXX
/002 - Image Processing Pipeline
/003 - Output Images
# IDE and environment folders
.idea/
.venv/
.vscode/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
/Results 2026 IIP - GroupXXX_blackbox
