/Results 2026 IIP - Group015
/002 - Image Processing Pipeline
/003 - Output Images
# IDE and environment folders
.idea/
.venv/
.vscode/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.png
